@charset "UTF-8";

#accordionFlushExample {
    background-color: transparent;
    color: black;
}

.row {
    margin: 0 auto;
}

#moon3D {
    margin: 0 auto;
}

#faq {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
}

.wrapper #google_translate_element{
    grid-column: 2;
    margin: 10px auto;
}


body {
    margin: 0;
    padding: 0;
    font: 16px/26px D-DIN-Regular,Arial,Verdana,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    width: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    background-color: #000;
    background-image: url("../images/FAQ-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

a, li, li>i, li>a, h2 {
    text-decoration: none;
    list-style: none;
    color: #fff;
    text-shadow: 0 0 3px black, 0 0 5px white;
}
